#body {
  margin: 0 7vw;

  #votes {
    font-size: calc(2em + 1vw);
    color: #333333;
  }

  #candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  #body {
    margin: 0 15vw;
  }
}

@media screen and (min-width: 720px) {
  #body {
    margin: 0 5vw;

    #candidates app-candidate:nth-child(odd) {
      margin-right: 2vw;
    }
  }
}

@media screen and (min-width: 1100px) {
  #body {
    margin: 0 6vw;
  }
}

@media screen and (min-width: 1280px) {
  #body {
    margin: 0 9vw;

    #candidates app-candidate:nth-child(odd) {
      margin-right: 4vw;
    }
  }
}
