<div id="header">
  <div id="shadow">
    <p id="title">Rule of Thumb.</p>

    <div id="links">
      <p routerLink="/past-trials">Past Trials</p>

      <p routerLink="/how-it-works">How It Works</p>

      <p>Log In / Sign Up</p>

      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
  </div>

  <div id="candidate-space">
    <div id="candidate-card">
      <div id="candidate-main">
        <p id="question">What's your opinion on</p>

        <p id="name">Pope Francis?</p>

        <p id="summary">He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>

        <div id="info">
          <fa-icon [icon]="faWikipediaW"></fa-icon>
          <p>More information</p>
        </div>

        <p id="verdict"><b>What's Your Verdict?</b></p>
      </div>

      <div id="candidate-buttons">
        <div id="like">
          <img src="assets/like.svg" alt="like">
        </div>

        <div id="dislike">
          <img src="assets/dislike.svg" alt="dislike">
        </div>
      </div>
    </div>
  </div>

  <div id="closing">
    <div id="closing-in">
      <p>CLOSING IN</p>
    </div>

    <div id="days">
        <p><b>22</b> days</p>
    </div>
  </div>
</div>
