#header {
  background: url("https://images.unsplash.com/photo-1610978710007-758ad97bb3e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80") no-repeat center;
  background-size: cover;
  height: 10vh;
  width: 100%;
  min-height: 110px;
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;

  #shadow {
    background: linear-gradient(180deg, rgba(0,0,0,0.7568161053483894) 10%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;

    p {
      margin: 0;
      color: white;
      cursor: pointer;
    }

    fa-icon {
      color: white;
      cursor: pointer;
    }

    #title {
      align-self: center;
      font-size: calc(2em + 1vw);
    }

    #links {
      align-self: center;
      display: none;
    }
  }

  #candidate-space {
    display: none;
    flex-grow: 1;
    margin: 0 15vw;

    #candidate-card {
      width: 42vh;
      height: 42vh;

      #candidate-main {
        backdrop-filter: blur(15px);
        background: rgba(0, 0, 0, 0.15);
        height: 80%;
        display: flex;
        flex-direction: column;
        padding: 1vw;
        box-sizing: border-box;

        p, b, fa-icon {
          margin: 0;
          color: white;
        }

        #question {
          font-size: calc(0.3em + 1vh);
        }

        #name {
          font-size: calc(2em + 1vh);
        }

        #summary {
          font-size: calc(0.5em + 1vh);
          margin: 1vh 0;
        }

        #info {
          display: flex;
          flex-direction: row;
          font-size: calc(0.3em + 1vh);
          margin-bottom: 1vh;

          p {
            margin-left: 1vh;
            text-decoration: underline;
          }
        }

        #verdict {
          font-size: calc(0.5em + 1vh);
        }
      }

      #candidate-buttons {
        height: 20%;
        display: flex;
        flex-direction: row;

        div {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;

          img {
            align-self: center;
            height: 60%;
          }
        }

        #like {
          background: var(--trans-blue);
        }

        #dislike {
          background: var(--trans-orange);
        }
      }
    }
  }

  #closing {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 30px;

    p {
      margin: 0;
    }

    #closing-in {
      width: 34%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      background: rgba(0, 0, 0, 0.2);

      p {
        align-self: center;
        color: white;
        font-size: calc(0.1em + 1vw);
        margin-right: 1vw;
      }
    }

    #days {
      width: 66%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background: rgba(255, 255, 255, 0.5);

      p {
        align-self: center;
        font-size: calc(1em + 1vw);
        margin-left: 1vw;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #header {
    height: 15vh;

    #shadow {
      padding: 0 6vw;

      #title {
        font-size: calc(1em + 1vw);
        flex-grow: 1;
      }

      #links {
        display: flex;
        flex-direction: row;

        p {
          font-size: calc(0.7em + 1vw);
          margin-left: 1vw;
        }

        fa-icon {
          font-size: calc(0.7em + 1vw);
          margin-left: 1vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  #header {
    height: 70vh;
    min-height: 660px;

    #shadow {
      height: 25%;
    }

    #candidate-space {
      display: flex;

      #candidate-card {
        min-width: 310px;
        min-height: 310px;
      }
    }

    #closing {
      display: flex;
    }
  }
}

@media screen and (min-width: 1280px) {
  #header {
    height: 90vh;

    #shadow {
      height: 20%;
    }

    #candidate-space {
      margin: 0 9vw;

      #candidate-card {
        width: 56vh;
        height: 56vh;
        min-width: 414px;
        min-height: 414px;

        #candidate-main {
          padding: 2vw;

          #question {
            font-size: calc(0.5em + 1vh);
          }

          #name {
            font-size: calc(2.5em + 1vh);
          }

          #summary {
            font-size: calc(0.8em + 1vh);
            margin: 2vh 0;
          }

          #info {
            font-size: calc(0.5em + 1vh);
            margin-bottom: 2vh;
          }

          #verdict {
            font-size: calc(0.8em + 1vh);
          }
        }
      }
    }

    #closing {
      height: 50px;
    }
  }
}
