<div id="candidate" [ngStyle]="{'background-image': 'url(' + candidate.photo + ')'}">
  <div id="shadow">
    <div id="current-value" [ngStyle]="{background: 'var(' + (likesPercentage >= 50 ? '--blue' : '--orange') + ')'}">
      <img *ngIf="likesPercentage >= 50" src="assets/like.svg" alt="like">
      <img *ngIf="likesPercentage < 50" src="assets/dislike.svg" alt="dislike">
    </div>

    <div id="main">
      <p id="name">{{candidate.name}}</p>

      <p id="last-seen"><b>{{candidate.lastSeen}}</b> in {{candidate.genre}}</p>

      <p id="description">{{voted ? 'Thank you for voting!' : candidate.description}}</p>

      <div id="voting-buttons" style="display: flex; flex-direction: row;">
        <div
            id="like-button"
            [ngClass]="{selected: likeClicked}"
            (click)="clickLike()">
          <img src="assets/like.svg" alt="like">
        </div>

        <div
            id="dislike-button"
            [ngClass]="{selected: dislikeClicked}"
            (click)="clickDislike()">
          <img src="assets/dislike.svg" alt="like">
        </div>

        <button
            id="vote-now"
            (click)="vote()"
        >{{voted ? 'Vote again' : 'Vote now'}}</button>
      </div>
    </div>

    <div id="results-bar">
      <div class="like-div">
        <img src="assets/like.svg" alt="like">
        <p>{{likesPercentage}}%</p>
      </div>

      <div class="likes" [ngStyle]="{width: likesPercentage + '%'}"></div>

      <div class="dislikes" [ngStyle]="{width: dislikesPercentage + '%'}"></div>

      <div class="dislike-div">
        <p>{{dislikesPercentage}}%</p>
        <img src="assets/dislike.svg" alt="dislike">
      </div>
    </div>
  </div>
</div>
