/* You can add global styles to this file, and also import other style files */
:root {
  --blue: #1cbbb4;
  --trans-blue: rgba(28, 187, 180, 0.65);
  --orange: #ffad1d;
  --trans-orange: rgba(255, 173, 29, 0.65);
  --grey: #ebebeb;
  --black: #333333;
}

* {
  p {
    font-family: 'Lato', sans-serif;
    color: var(--black);
  }
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
