/* You can add global styles to this file, and also import other style files */
:root {
  --blue: #1cbbb4;
  --trans-blue: rgba(28, 187, 180, 0.65);
  --orange: #ffad1d;
  --trans-orange: rgba(255, 173, 29, 0.65);
}
